/* Верстка хедера */

.header {
  min-height: 293px;
  padding: 92px 24px 96px;
  font-size: 18px;
  line-height: 24.3px;
  background-color: #fff;
}

.header__content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  gap: 41px;
  width: 1052px;
  height: 105px;
}

.header__menu {
  grid-column: 1 / 4;
  justify-self: end;
}

.header__links-list {
  display: flex;
  gap: 31px;
  list-style: circle;
}

.header__links-list-item {
  padding-left: 4px;
}

.header__link {
  border-bottom: 1px solid;
}

.header__link_active {
  border: none;
  list-style: none;
}

.header__logo {
  grid-column: 4;
}

.header__logo-image {
  width: 135px;
}

.address {
  grid-column: 6 / -1;
  justify-self: start;
  font-style: normal;
}

/* Входная секция с заголовком */

.cover {
  /* padding: 165px 50px 51px; */
  background-image: url(../images/cover.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat; 
}

.overlay {
  color: #fff;
  text-transform: uppercase;
  padding: 165px 50px 51px;
  background-color: rgba(0, 0, 0, 0.6);
  /* z-index: 1; */
}

.cover__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 122px;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  display: block;
  text-align: center;
  /* letter-spacing: ; */
}

.aligned-text_right {
  display: block;
  text-align: end;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  place-items: center;
  justify-content: end;
  gap: 79px;
  margin-top: 126px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  text-align: end;
  word-spacing: 0.8em;
}

.bet-button {
  border: solid 1px;
  padding: 12px 32px 12px 31px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
}

/* Секция с лотами */

