.header {
  padding: 92px 24px 96px;
  min-height: 293px;
  font-size: 18px;
  line-height: 24.3px;
  background-color: #fff;
}

.header__content {
  display: grid;
  gap: 41px;
  width: 1052px;
  height: 105px;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
}

.header__menu {
  grid-column: 1 / 4;
  justify-self: end;
}

.header__links-list {
  display: flex;
  gap: 31px;
  list-style: circle;
}

.header__links-list-item {
  padding-left: 4px;
}

.header__link {
  border-bottom: 1px solid;
}

.header__link_active {
  border: none;
  list-style: none;
}

.header__logo {
  grid-column: 4;
}

.header__logo-image {
  width: 135px;
}

.address {
  font-style: normal;
  grid-column: 6 / -1;
  justify-self: start;
}